h1, h2, h3, h4, h5, h6, body, div {
    padding: 0;
    margin: 0;
  }
  
  .navdiv {
    position: sticky;
    z-index: auto;
    background-color: #524c46;
  }
  
  .divnav:hover > .menunav{
    color: #FFFFFF;
    background-color: #008800;
    transition-duration: 0.3s;
    transition-property: all;
    cursor: pointer;
  }
  
  .divnav{
    height: 50px;
  }
  
  .menunav {
    height: 50px;
    font-family: Arial;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-left: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 5px;
    margin-top: 30px;
  }
  
  .corps {
    font-family: Arial;
    color: #fbfaf7;
    background-color: #46413b;
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 30px;
    text-align: justify;
  }
  
  .navbarpc {
    float: right; 
    position: absolute; 
    right: 0%; 
    top: 0%; 
    display : flex; 
    flex-direction: row; 
    height: 50px; 
    padding-top: 30px;
    color: white;
    background-color: #524c46;
  }
  
  .navbartel {
    position:absolute;
    top: -200px;
  }
  
  .box {
    position: absolute;
    top: -60px;
    right: 10px;
  }
  
  .list {
    list-style: none;
    margin-top: 40px;
  }
  
  .list div li {
    padding: 0%;
    margin: 0%;
  }
  
  .iconbox {
    position: absolute;
    top: -300px;
  }
  
  .atel {
    text-decoration: none;
    color: white;
  }
  
  .divnavtel:hover > .atel {
    color: white;
    background-color: #C3B753;
  }
  
  .atel {
    width: 100%;
    height: 100%;
  }
  
  .atel:hover {
    color: white;
  }
  
  @media only screen and (max-width: 750px) {
    .navbarpc {
      position: absolute;
      top: -200px;
    }
  
    .navbartel {
      position: absolute;
      top: 0px;
      right: 0px;
    }
  
    .iconbox {
      font-size: 150%;
      position: absolute;
      top: 25px;
      right: 30px;
      z-index: 1;
      color: white;
    }
  
    .nav {
      width: 150px;
      position: absolute;
      right: 0px;
      top: -370px;
      background-color: #524c46;
      padding-right: 70px;
      padding-bottom: 200px;
      font-family: Arial;
      text-decoration: none;
      color: black;
      font-size: 20px;
      border-radius: 0px 0px 0px 15px;
      border: solid 5px #C3B753;
      border-style: double;
      border-top-color: #524c46;
      border-right-color: #524c46;
      z-index: auto;
    }
  
    .box[type="checkbox"]:checked ~ .nav {
      position: absolute;
      right: 0px;
      top: 0px;
      transition-property: all;
      transition-duration: 600ms;
    }
  
      .divnavtel:hover > li {
      color: #FFFFFF;
      background-color: #008800;
      transition-duration: 0.3s;
      transition-property: all;
      cursor: pointer;
    }
  
    .divnavtel li {
      width: 100px;
      text-align: center;
      padding-top: 3px;
      padding-right: 3px;
      padding-bottom: 3px;
      padding-left: 3px;
      border-radius: 5px 5px 5px 5px;
    }
  }