h1, h2, h3, h4, h5, h6, body, div {
  padding: 0;
  margin: 0;
}

.navdiv {
  position: sticky;
  z-index: auto;
}

.divnav:hover > .menunav{
  color: #FFFFFF;
  background-color: #008800;
  transition-duration: 0.3s;
  transition-property: all;
  cursor: pointer;
}

.divnav{
  height: 90px;
}

.menunav {
  height: 90px;
  font-family: Arial;
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding-left: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 5px;
  margin-top: 30px;
}

.corps {
  font-family: Arial;
  background-color: #fbfaf7;
  color: black;
  padding-top: 50px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 30px;
  text-align: justify;
  margin-bottom: 10px;
}

.navbarpc {
  float: right; 
  position: absolute; 
  right: 0%; 
  top: 0%; 
  display : flex; 
  flex-direction: row; 
  height: 90px; 
  padding-top: 30px;
}

.navbartel {
  position:absolute;
  top: -200px;
}

.box {
  position: absolute;
  top: -60px;
  right: 10px;
}

.list {
  list-style: none;
  margin-top: 40px;
}

.list div li {
  padding: 0%;
  margin: 0%;
}

.iconbox {
  position: absolute;
  top: -300px;
}

.atel {
  text-decoration: none;
  color: black;
}

.divnavtel:hover > .atel {
  color: white;
  background-color: #008800;
}

.atel {
  width: 100%;
  height: 100%;
}

.atel:hover {
  color: white;
}

@media only screen and (max-width: 750px) {
  .navbarpc {
    position: absolute;
    top: -200px;
  }

  .navbartel {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .iconbox {
    font-size: 150%;
    position: absolute;
    top: 25px;
    right: 30px;
    z-index: 1;
  }

  .nav {
    width: 150px;
    position: absolute;
    right: 0px;
    top: -370px;
    background-color: white;
    padding-right: 70px;
    padding-bottom: 200px;
    font-family: Arial;
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-radius: 0px 0px 0px 15px;
    border: solid 5px #008800;
    border-style: double;
    border-top-color: white;
    border-right-color: white;
    z-index: auto;
  }

  .box[type="checkbox"]:checked ~ .nav {
    position: absolute;
    right: 0px;
    top: 0px;
    transition-property: all;
    transition-duration: 600ms;
  }

    .divnavtel:hover > li {
    color: #FFFFFF;
    background-color: #008800;
    transition-duration: 0.3s;
    transition-property: all;
    cursor: pointer;
  }

  .divnavtel li {
    width: 100px;
    text-align: center;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    border-radius: 5px 5px 5px 5px;
  }

  .sectionpresentation {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
}

.mainredirectionbutton {
  background-color: #008800;
  padding: 9px 15px 9px 15px;
  font-family: Arial, Helvetica, sans-serif;
  border: solid 0px;
  border-radius: 15px;
  transform-origin: left;
  transition-property: background-color, padding-right;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  float: right;
  white-space: nowrap;
  overflow: hidden;
}

.mainredirectionbutton:hover {
  background-color: #005f00;
}

.mainimage {
  max-height: 300px;
  max-width: 300px;
  border-radius: 10px;
  margin: auto;
}

.sectionpresentation {
  display: flex;
  margin-bottom: 50px;
}

.soussectionpresentation {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.soussectionpresentation p {
  padding: 5px;
}

.corpspresentation {
  display: flex;
  flex-direction: column;
}